<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SpatioAI Technologies | Geospatial Intelligence for Climate Resilience</title>
<!-- Preload social sharing image -->
<link rel="preload" as="image" href="https://spatioaitech.github.io/home/images/spatioai.webp">

<!-- Open Graph / Social Media Meta Tags -->
<meta property="og:title" content="SpatioAI Technologies | Geospatial Intelligence for Climate Resilience">
<meta property="og:description"
    content="Leading the future of geospatial intelligence across Africa with AI-powered solutions for climate resilience and environmental monitoring.">
<meta property="og:image" content="https://spatioaitech.github.io/home/images/spatioai.webp">
<meta property="og:url" content="https://spatioaitech.github.io/home/">
<meta property="og:type" content="website">

<!-- Twitter Card Meta Tags (optional) -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="SpatioAI Technologies | Geospatial Intelligence for Climate Resilience">
<meta name="twitter:description"
    content="Leading the future of geospatial intelligence across Africa with AI-powered solutions for climate resilience and environmental monitoring.">
<meta name="twitter:image" content="https://spatioaitech.github.io/home/images/spatioai.webp">


<!-- Favicon links -->
<link rel="icon" type="image/png" href="../my-favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="../my-favicon/favicon.svg" />
<link rel="shortcut icon" href="../my-favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="../my-favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="SpatioAI tech" />
<link rel="manifest" href="../my-favicon/site.webmanifest" />

<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="../styles.css">
<script src = "../script.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<!-- for mapbox -->
<link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>